<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>

    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<a th:href="@{/Course}" class="btn btn-primary btn-sm mb-3"> Course </a>
<a th:href="@{/Student}" class="btn btn-primary btn-sm mb-3"> Student </a>
<a th:href="@{/Teacher}" class="btn btn-primary btn-sm mb-3"> Teacher </a>

</body>